[submodule "libs/ada-interface"]
	path = libs/ada-interface
	url = https://github.com/Componolit/ada-interface.git
[submodule "libs/libsparkcrypto"]
	path = libs/libsparkcrypto
	url = https://github.com/Componolit/libsparkcrypto.git
[submodule "libs/SXML"]
	path = libs/SXML
	url = https://github.com/Componolit/SXML
